# ===================================================================
# artellapipe-tools-welcome requirements file
# ===================================================================
artellapipe-core